<div class="tech-btm">
    <p>Yeni eklenen etkinliklerinden mail alarak anında haberdar olun.</p>
    <form action="/NewsLetter/SubscribeMail" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Abone Ol" style="background-color:#3399ff">
    </form>
</div>